<p class="has-text-centered title is-size-3">Modpacks</p>

<div class="fixed-grid has-1-cols-mobile has-3-cols">
  <div class="grid">
  {% for modpack in collections.modpack %}

        <div class="cell">
          <div class="box fullheight is-one-third showcase containecenter">
              <a href="{{ modpack.url }}">

                <img class="is-centered" src="{{ modpack.data.showcase.featimg }}" style="height: auto">

                <p class="title has-text-centered"> {{ modpack.data.showcase.title }}</p>

                <p class="subtitle has-text-centered" >{{ modpack.data.showcase.text }}</p>
                <hr>
                <div class="tags">
                  <span class="tag {{ modpack.data.showcase.loader.color }}">{{ modpack.data.showcase.loader.text }}</span>
                  <span class="tag is-light">{{ modpack.data.showcase.version }}</span>
                </div>
              </a>

          </div>
        </div>

  {%- endfor %}
  </div>
</div>